.cardP {
  margin: 20px;
  border-radius: 10px;
}
.cardP .hd {
  font-size: 18px;
  font-weight: bold;
  color: #403e57;
}

.cardFilters .col h4 {
  font-size: 14px;
  font-weight: 800;
  text-transform: capitalize;
  color: 403e57;
}
.table .thead-dark th {
  background-color: #1866ee !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
  font-size: 14px !important;
}

.table .tbody td {
  font-size: 14px !important;
  color: #403e57;
  font-weight: 500;
}

.table .tbody .actions .btnP {
  min-width: 35px !important;
  width: 35px !important;
  height: 35px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  margin-right: 5px; /* Add some spacing between buttons */
}
.table tbody .actions .btnP svg {
  font-size: 20px !important ;
}
.table tbody .actions .btn-primary {
  background: rgba(203, 60, 231, 0.1) !important ;
}
.table tbody .actions .btn-success {
  background: rgba(26, 159, 83, 0.1) !important ;
}
.table tbody .actions .btn-danger {
  background: rgba(241, 17, 51, 0.1) !important ;
}
.table-responsive::-webkit-scrollbar-thumb {
  background: #ccc !important;
}
.cardP h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #403e57;
}
.svg1 {
  color: #491042;
}
.svg2 {
  color: green;
}
.svg3 {
  color: rgb(2, 2, 2);
}
table.v-align td {
  vertical-align: middle !important;
}
.table td .old,
.table td .new {
  display: block;
  width: 100%;
}

table td .imgPWapper {
  width: 20%;
  flex: 0 0 20%;
}
table td .imgPWapper .imgP {
}
table td .info {
  width: 65%;
  flex: 0 0 65%;
}
table td .info h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
}
table td .info p {
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #5e5d72;
  margin-bottom: 0px;
}
table.v-align td .productBox {
  width: 270px;
}
.tableFooter {
  padding-bottom: 20px;
}
.tableFooter .pagination {
  margin-left: auto;
}
.tableFooter p {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0px;
}
.css-1y7coo4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
}

.slick.slide{
  outline: none !important;
  
}